[Desktop Entry]
Encoding=UTF-8
Name=Verwijzing naar https://youtu.be/0iGbIRwIlpc
Type=Link
URL=http://mail2web.com/cgi-bin/redir.asp?lid=0&newsite=https%3A%2F%2Fyoutu%2Ebe%2F0iGbIRwIlpc
Icon=text-html
